@font-face {
    font-family: IranSans;
    src: url("../fonts/FontsFree-Net-ir_sans.ttf");
    src: url("../fonts/IRANSans.eot");
    src: url("../fonts/IRANSans.woff");
    src: url("./fonts/IRANSans.woff2");
}